INPUT_DICOM=0002.DCM
SEG_OUTPUT_DICOM=ai_mask.dcm
SEG_THRESHOLD_PERCENTILE=80
LEGACY_XA_MODE=false
SAMPLE_ADT_FILE=hl7/sample_adt.txt

SOURCE_AET=GABE_MIGRATOR
DEST_AET=CLOUD_GATEWAY
DEST_IP=localhost
DEST_PORT=4242

MRN=MRN12345
FHIR_IDENTIFIER_SYSTEM=http://hospital.example.com/mrn

ORTHANC_URL=http://localhost:8042
CLOUD_GATEWAY_URL=http://localhost:4242
CLOUD_GATEWAY_API_KEY=replace-me

INPUT_FILES=0002.DCM,ai_mask.dcm