INPUT_DICOM=0002.DCM
SEG_OUTPUT_DICOM=ai_mask.dcm
SEG_THRESHOLD_PERCENTILE=80
LEGACY_XA_MODE=false

SOURCE_AET=GABE_MIGRATOR
DEST_AET=CLOUD_GATEWAY
DEST_IP=localhost
DEST_PORT=4242

ORTHANC_URL=http://localhost:8042
CLOUD_GATEWAY_URL=http://localhost:4242
CLOUD_GATEWAY_API_KEY=replace-me

INPUT_FILES=0002.DCM,ai_mask.dcm